.center_verticaly{
  margin: "0 auto";
  position: "absolute";
  top: "50%"
}

.spacetochildren > * {
  margin: 5em 0;
}


@media only screen and (max-width: 991px) {
  .removeperks{
    display: none;
  }
}