
.box1{
    background-color: lightcoral;
}
.box2{
    background-color: lightgreen;
}
.box3{
    background-color: rgb(56, 56, 56);
}

.main{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-rows: 1fr 1fr;
}

.box1{
    grid-row: 1/2;
    grid-column: 1/2;
    margin: 0 auto;
    width: 50%;
    min-width: 800px;
}

.box2{
    grid-row: 1/3;
}

.box3{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}


.viewer{
    width: 100%;
    height: 200px;
    background-color: rgb(233, 233, 233);
    border: rgb(173, 173, 173) solid 2px;
    border-radius: 3px;
}

.videojs{
   position: relative;
   height: 100%;
   width: 100%;
}

.buttons button{
    position: relative;
    top: 80px;
    margin: 10px;
}

.viewer{
    text-align: center;
}

@media screen and (max-width: 1209px){
    .main{
        height: 100vh;
        display: block;
    }

    .video-js{
        margin: 0 auto;
        width: 700px;
        height: 350px;
    }
    
    .box1{
        margin: 0 auto;
        width: 50%;
        min-width: 600px;
    }
    .box2{
        height: 70%;
        width: 100%;
    }
    .box3{
        display: none;
    }
}

@media(max-width: 375px) and (max-height: 660px){
    .main{
        height: 100vh;
        display: block;
    }

    .video-js{
        margin: 0 auto;
        width: 350px;
        height: 100%;
    }
    
    .box1{
        height: 30%;
        width: 100%;
        max-width: 600px;
    }
    .box2{
        height: 70%;
        width: 100%;
    }
    .box3{
        display: none;
    }
}